@import '~office-ui-fabric-react/dist/sass/References.scss';

.userSecretSanta {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: red;
    padding: 20px;
  }

  .rowWithLeftRightPadding {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;    
  }

  .rowWithOutPadding {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: red;
  }

  .divCountDown{
    float: "right";
    color: "red";
    background-color: "white";
    margin-left: 10px;
    margin-top: 10px;
  }

  .countDownTime{
    font-size: 95px;
    text-align: center;
  }

  .countDownText{
    font-size: 27px;
    margin-top: -15px;
    text-align: center;
  }

  .column4 {
    @include ms-Grid-col;
    @include ms-lg4;
    @include ms-xl4;
  }

  .column8 {
    @include ms-Grid-col;
    @include ms-lg8;
    @include ms-xl8;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
    font-weight: bold;
    text-align: center;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
    font-weight: bold;
    text-align: center;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
:global{
  .headerRow-48{
    display: none;
  }
}
